<p-toast></p-toast>

<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Manage your</span>
            <div class="text-6xl text-primary font-bold mb-3">InnovRobots Events</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/demo/images/blocks/hero/hero-1.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>

<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-toolbar styleClass="mb-1">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedEvents()" [disabled]="!selectedEvents|| !selectedEvents?.length"></button>
          </div>
        </ng-template>
      </p-toolbar>
      <p-table #dt [value]="events" responsiveLayout="scroll"
        [globalFilterFields]="['eventDate']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedEvents" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Events</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText Item="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Search..."/>
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="name"><div class="flex justify-content-center">Name<p-sortIcon field="name"></p-sortIcon></div></th>
            <th pSortableColumn="eventDate"><div class="flex justify-content-center">Start Date<p-sortIcon field="eventDate"></p-sortIcon></div></th>
            <th pSortableColumn="endDate"><div class="flex justify-content-center">End Date<p-sortIcon field="endDate"></p-sortIcon></div>
            </th>
            <th pSortableColumn="place"><div class="flex justify-content-center">Location<p-sortIcon field="place"></p-sortIcon></div>
            </th>
            <th pSortableColumn="description"><div class="flex justify-content-center">Description<p-sortIcon field="description"></p-sortIcon></div>
            </th>
            <th pSortableColumn="status"><div class="flex justify-content-center">Status<p-sortIcon field="status"></p-sortIcon></div>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-event>
          <tr>
            <tr>
              <td>
                  <p-tableCheckbox [value]="event"></p-tableCheckbox>
              </td>
              <td style="width:20%; min-width:10rem;">
                <span class="p-column-title">name</span>
                <div class="flex justify-content-center text-center">{{event?.name}}</div>
            </td>
              <td style="width:20%; min-width:10rem;">
                  <span class="p-column-title">cin</span>
                  <div class="flex justify-content-center text-center">{{event?.eventDate | date : "MM/dd/yy" }}</div>
              </td>
              <td style="width:20%; min-width:10rem;">
                <span class="p-column-title">endDate</span>
                <div class="flex justify-content-center text-center">{{event?.endDate | date : "MM/dd/yy" }}</div>
              </td>
              <td style="width:20%; min-width:10rem;">
                    <span class="p-column-title">place</span>
                    <div class="flex justify-content-center text-center">{{event?.place}}</div>
              </td>
            <td style="width:20%; min-width:10rem;">
                    <span class="p-column-title">description</span>
                    <div class="flex justify-content-center text-center">{{event?.description}}</div>
            </td>
            <td style="width:20%; min-width:10rem;">
              <span class="p-column-title">status</span>
              <div class="flex justify-content-center text-center">
                <p-tag *ngIf="event?.status == true" styleClass="mr-2" icon="pi pi-check" severity="success" value="Active"></p-tag>
                <p-tag *ngIf="event?.status == null" styleClass="mr-2" icon="pi pi-clock" severity="warning" value="New Inactive"></p-tag>
                <p-tag *ngIf="event?.status == false" icon="pi pi-times" severity="warning" value="Inactive"></p-tag>
              </div>
            </td>
              <td style="width:30%; min-width:10rem;">
                  <div class="flex justify-content-center text-center">
                    <button pButton pRipple icon="pi pi-bolt" class="p-button-rounded p-button-primary mr-2"
                      (click)="activateEvent(event)"></button>
                      <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info mr-2"
                      (click)="viewEvent(event)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                      (click)="deleteEvent(event)"></button>
                  </div>
              </td>
          </tr>
        </ng-template>
        <!-- empty table message-->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="text-center">No Events found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog header="Event Details" [(visible)]="eventDialog" [modal]="true"
  [style]="{width: '70%'}" class="p-fluid">
  <div class="text-500 mb-5">Please complete all required fields marked with an asterisk (*).</div>
  <ng-template pTemplate="content">
  <form [formGroup]="eventForm" class="grid">
    <div class="field">
      <input Item="text" hidden pInputText id="code" formControlName="id" />
    </div>

    

    <div class="field col-12">
      <label for="name">Name *</label>
      <input Item="text" pInputText id="name" formControlName="name" placeholder="Name" required />
      <div *ngIf="(eventForm.get('name').invalid && eventForm.get('name').dirty)">
        <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('name').hasError('required')">
          Obligatory.
        </small>
      </div>
    </div>

    <div class="field col-12">
      <label for="Description">Description *</label>
      <input Item="text" pInputText id="Description" formControlName="description" placeholder="Description" required />
      <div *ngIf="(eventForm.get('description').invalid && eventForm.get('description').dirty)">
        <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('description').hasError('required')">
          Obligatory.
        </small>
      </div>
    </div>

  

    <div class="field col-6">
      <label for="eventDate">Start Date *</label>
      <p-calendar id="eventDate" appendTo="body" [showIcon]="true" dateFormat="dd/mm/yy" [showButtonBar]="true" placeholder="jj/MM/aaaa"
                formControlName="eventDate"></p-calendar>
      <div *ngIf="(eventForm.get('eventDate').invalid && eventForm.get('eventDate').dirty)">
        <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('eventDate').hasError('required')">
          Obligatory.
        </small>
      </div>
    </div>

    <div class="field col-6">
      <label for="endDate">End Date *</label>
      <p-calendar id="endDate" appendTo="body" [showIcon]="true" dateFormat="dd/mm/yy" [showButtonBar]="true" placeholder="jj/MM/aaaa"
                formControlName="endDate"></p-calendar>
      <div *ngIf="(eventForm.get('endDate').invalid && eventForm.get('endDate').dirty)">
        <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('endDate').hasError('required')">
          Obligatory.
        </small>
      </div>
    </div>

    <div class="field col-8">
      <label for="place">Location *</label>
      <input Item="text" pInputText id="place" formControlName="place" placeholder="Location" required />
      <div *ngIf="(eventForm.get('place').invalid && eventForm.get('place').dirty)">
        <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('place').hasError('required')">
          Obligatory.
        </small>
      </div>
    </div>

    <div class="field col-4">
      <label for="numberOfDays">Number Of Days *</label>
      <input Item="text" pInputText id="numberOfDays" formControlName="numberOfDays" placeholder="Number Of Days" required />
      <div *ngIf="(eventForm.get('numberOfDays').invalid && eventForm.get('numberOfDays').dirty)">
        <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('numberOfDays').hasError('required')">
          Obligatory.
        </small>
      </div>
    </div>

    <div class="field col-4">
        <label for="numberOfAllowedStudents">Number Of Allowed Students *</label>
        <input Item="text" pInputText id="numberOfAllowedStudents" formControlName="numberOfAllowedStudents" placeholder="Number Of Allowed Students" required />
        <div *ngIf="(eventForm.get('numberOfAllowedStudents').invalid && eventForm.get('numberOfAllowedStudents').dirty)">
          <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('numberOfAllowedStudents').hasError('required')">
            Obligatory.
          </small>
        </div>
      </div>

      <div class="field col-4">
        <label for="numberOfAllowedTeachers">Number Of Allowed Teachers *</label>
        <input Item="text" pInputText id="numberOfAllowedTeachers" formControlName="numberOfAllowedTeachers" placeholder="Number Of Allowed Teachers" required />
        <div *ngIf="(eventForm.get('numberOfAllowedTeachers').invalid && eventForm.get('numberOfAllowedTeachers').dirty)">
          <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('numberOfAllowedTeachers').hasError('required')">
            Obligatory.
          </small>
        </div>
      </div>

      <div class="field col-4">
        <label for="numberOfAllowedCompanies">Number Of Allowed Companies *</label>
        <input Item="text" pInputText id="numberOfAllowedCompanies" formControlName="numberOfAllowedCompanies" placeholder="Number Of Allowed Companies" required />
        <div *ngIf="(eventForm.get('numberOfAllowedCompanies').invalid && eventForm.get('numberOfAllowedCompanies').dirty)">
          <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('numberOfAllowedCompanies').hasError('required')">
            Obligatory.
          </small>
        </div>
      </div>

      <div class="field col-4">
        <label for="studentsPrice">Students Price*</label>
        <input Item="text" pInputText id="studentsPrice" formControlName="studentsPrice" placeholder="Students Price" required />
        <div *ngIf="(eventForm.get('studentsPrice').invalid && eventForm.get('studentsPrice').dirty)">
          <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('studentsPrice').hasError('required')">
            Obligatory.
          </small>
        </div>
      </div>

      <div class="field col-4">
        <label for="teachersPrice">Teachers Price*</label>
        <input Item="text" pInputText id="teachersPrice" formControlName="teachersPrice" placeholder="Teachers Price" required />
        <div *ngIf="(eventForm.get('teachersPrice').invalid && eventForm.get('teachersPrice').dirty)">
          <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('teachersPrice').hasError('required')">
            Obligatory.
          </small>
        </div>
      </div>

      <div class="field col-4">
        <label for="companiesPrice">Companies Price*</label>
        <input Item="text" pInputText id="companiesPrice" formControlName="companiesPrice" placeholder="Companies Price" required />
        <div *ngIf="(eventForm.get('companiesPrice').invalid && eventForm.get('companiesPrice').dirty)">
          <small class="ng-dirty ng-invalid" *ngIf="eventForm.get('companiesPrice').hasError('required')">
            Obligatory.
          </small>
        </div>
      </div>

  </form>
  </ng-template>
  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
  <button pButton pRipple label="Save" [disabled]="eventForm.invalid" icon="pi pi-check" class="p-button-text"
    (click)="saveEvent()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteEventDialog" header="Confirm" [modal]="true" [style]="{width:'40%'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="event">Are you sure you want to delete this event ?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
      (click)="deleteEventDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteEventsDialog" header="Confirm" [modal]="true" [style]="{width:'40%'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>Are you sure you want to delete the selected events?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
      (click)="deleteEventsDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
  </ng-template>
</p-dialog>

